# Byte-compiled / optimized files
__pycache__/
*.py[cod]
*.pt
*.csv
*.tar
*.zip

# IPython checkpoints
.ipynb_checkpoints/

# Datasets
data/

# Tensorflow summaries
summaries/

# Model parameters
checkpoints/
